<form [formGroup]="modelForm" (ngSubmit)="modelForm.valid && sendEmail()" autocomplete="off">
    <h2 class="text-center text-primary">Write an email that is associate with your account</h2>
    <hr>
    <app-text-input [formControl]="$any(modelForm.controls['email'])" 
                    [label]="'Email'"></app-text-input>                

    <div class="row" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <span>{{message}}</span>
    <div class="text-center">
        <button [disabled]="!modelForm.valid" class="btn btn-primary btn-succes me-2" 
        type="submit" 
        >Submit</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>