<div class="container mt-5">
    <div *ngIf="!registerMode && !forgotPassMode" style="text-align: center;">
        <h1>Welcome to the EChat platform</h1>
        <p class="lead">Come on in to make your decisions easier 
            and find a various recipes suggestion, and discuss with 
            people with the same taste</p>
            <div class="text-center" *ngIf="!(accountService.currentUser$ | async)">
                <button (click)="registerToggle()" class="btn btn-outline-info">Register</button>
                <br>
                <br>
                <button (click)="forgotToggle()" class="btn btn-outline-info">Forgot password</button>
            </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelMode)="cancel($event)"></app-register>
            </div>
        </div>
    </div>

    <div *ngIf="forgotPassMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-forgot-password (cancelMode)="cancel($event)"></app-forgot-password>
            </div>
        </div>
    </div>

    
</div>
